
<div class="container my-auto">
  <div class="row align-items-center">
      <div class="col-md-12 col-lg-8 mx-auto">
          <div class="row">
              <div class="col-12">
                  <div class="frame d-flex flex-column p-4">
                      <div class="nav d-flex justify-content-end">
                          <ul class="links list-inline">
                              <li class="signin-active list-inline-item"><a
                                      class="btn btn-sign-in font-aeight-bold px-4 btn-navbar px-3 py-2 active">Sign
                                      in</a>
                              </li>
                              <li class="signup-inactive list-inline-item"><a
                                      class="btn btn-sign-up font-aeight-bold px-4 btn-navbar px-3 py-2" [routerLink]="['/signup']">Sign up
                                  </a>
                              </li>
                          </ul>
                      </div>
                      <div class="row my-3 pb-4">


                          <!-- SIGN IN FORM  -->
                          <div class="col-lg-8 mx-auto signin-form">

                              <h1 class="text-center font-weight-bold mb-4 wrapper">SIGN IN</h1>

                              <form class="form-signin" [formGroup]="loginForm" autocomplete="off">

                                  <div class="w-100 mb-3 pb-3">
                                      <label class="mb-0" for="username">Username</label>
                                      <div class="w-100 position-relative">
                                          <div class="username-fa-icon w-100">
                                              <input class="form-styling py-2 px-3 pl-5" type="text"
                                                  name="username" [(ngModel)]="user.username" formControlName="username" placeholder="Username" autocomplete="off" />
                                          </div>
                                      </div>


                                  </div>

                                  <div class="w-100 mb-3 pb-3">
                                      <label class="mb-0" for="password">Password</label>
                                      <div class="w-100 position-relative">
                                          <div class="password-fa-icon w-100">
                                              <input class="form-styling py-2 px-3 pl-5" type="password"
                                                  name="password" [(ngModel)]="user.password" formControlName="password" placeholder="Password" autocomplete="off" />
                                          </div>
                                      </div>
                                  </div>

                                  <div class="w-100 mb-3 pt-2">
                                      <input type="checkbox" id="checkbox" checked />
                                      <label for="checkbox"><span class="ui"></span>Keep me signed in</label>
                                  </div>

                                  <div class="btn-animate mt-0 d-flex justify-content-center mt-4 pt-4">
                                      <a class="btn-signin px-5 py-3" (click)="login()">LOGIN</a>
                                  </div>
                              </form>
                          </div>
                          <!-- SIGN IN FORM END -->

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>