.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #0095DB;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin-top: -56px;
  }
  mat-card.full.mat-card {
    margin-left: 100px;
    margin-top: 48px;
}
button.mat-raised-button {
  background: #0095DB;
  color: white;
}

button.mat-raised-button[_ngcontent-c6] {
  background: #0095DB;
  color: white;
  float: right;
  margin-top: -33px;
}