<!-- <mat-card> -->
  
  
  <div class="col-12 ">
      <nmdx-spinner [isLoading]="xmls?.isLoading"></nmdx-spinner>
    <mat-card class="contact">
       
      <mat-card-content>
          <table>
              <tr>
                <td>
                    <div class="row">
                        <div class="form-group  col-md-6">
                          <input type="text" class="form-control" autocomplete="off" placeholder="User Name" [(ngModel)]="xml.username" name="username">
                        </div>
                        <div class="form-group  col-md-6">
                          <input type="text" class="form-control" autocomplete="off" placeholder="XML URL" [(ngModel)]="xml.url" name="url">
                        </div>
                      </div>
                </td>
                <td class="action">
                    <button mat-stroked-button type="submit" class="submit" (click)="add()">Submit</button>
                  </td>
              </tr>
            </table>
          
        <div class="table-responsive" >
          
          <table class="table">
            <tr>
              <th style="text-align: center;">Kyero Fields</th>
              <th style="text-align: center;">XML Fields</th>
              <th style="text-align: center;">Default Value</th>
              <th style="text-align: center;">Action</th>
            </tr>
            <tr>
              <td style="text-align: center;">
                <select class="form-control" [(ngModel)]="id">
                  <option style=" color: #0095DB;" *ngFor="let state of xmls?.items;">{{state}}</option>
                </select>
              </td>
              <td>
                <div [routerLink]="['/pages/xml/view-xml']">
                <input type="text" class="form-control" [(ngModel)]="id"  placeholder="id" disabled>
                </div>
              </td>
              <td>
                  <div class="row">
                      <input type="text" class="form-control" autocomplete="off" placeholder="Add Manually">
                  </div>
              </td>
              <td style="text-align: center;">
                  <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="update()">
                      <mat-icon title="replace value">save</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Example icon-button with a heart icon">
                        <mat-icon>close</mat-icon>
                      </button>
              </td>
            </tr>
            <button mat-stroked-button class="Row" >Add New Row</button>
        
          <button mat-stroked-button class="save" [routerLink]="['/pages/xml/change-kyero-format']">Save & Run</button>
          </table>
          
        </div>
        
      </mat-card-content>
     
    </mat-card>
  </div>
<!-- </mat-card> -->