.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    margin-top: -56px;
  }
  mat-card.full.mat-card {
    margin-left: 100px;
    margin-top: 48px;
}
button.mat-raised-button {
    background: #0095DB;
    color: white;
}